* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #c0c86d;
  cursor: url('./static/cursor.png'), default;
}

.bg {
  display: grid;
  grid-gap: 2rem;
  align-content: start;
  
  width: inherit;
  height: inherit;
  padding: 0 2rem;
  background: url('./static/background.png') no-repeat;
}

.worm-appearance {
  overflow: hidden;
  transition: width 0.4s ease-in;
}

.worm {
  width: 90vw;
}

.hole-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 1.5rem 3rem;
  justify-content: center;
  place-items: center;
}

.hole {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
}

.mole {
  width: 120%;
}

.hungry {
  cursor: url('./static/cursor-worm.png'), default;
}

.gone,
.hide {
  display: none;
}

.win {
  width: inherit;
  height: inherit;
  background: url('./static/win.png') no-repeat center;
  background-size: contain;
}

@media (min-width: 375px) {
  .hole-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .hole {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 768px) {
  .hole-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .hole {
    width: 180px;
    height: 180px;
  }
}
